@page
@model RemindMe.Pages.EditReminders
@{
    ViewData["Title"] = "Reminders";
}

<h1>Create a Reminder below:</h1> 

<br /><br />

<form id="search" name="search" class="bs-example bs-example-form" action="" role="form" method="get" target="_blank">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="input-group">
                    <input id="searchparameter" type="text" class="form-control" placeholder="Enter Reminder" name="q" type="text" maxlength="255" value="" />
                    <div class="input-group-btn">
                        <button tabindex="-1" class="btn btn-outline-secondary" type="submit">Submit</button>
                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<p>

</p>

<form id="search" name="search" class="bs-example bs-example-form" action="" role="form" method="get" target="_blank">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="input-group">
                    <input id="searchparameter" type="text" class="form-control" placeholder="Enter Reminder" name="q" type="text" maxlength="255" value="" />
                    <div class="input-group-btn">
                        <button tabindex="-1" class="btn btn-outline-secondary" type="submit">Submit</button>
                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<p>

</p>

<form id="search" name="search" class="bs-example bs-example-form" action="" role="form" method="get" target="_blank">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="input-group">
                    <input id="searchparameter" type="text" class="form-control" placeholder="Enter Reminder" name="q" type="text" maxlength="255" value="" />
                    <div class="input-group-btn">
                        <button tabindex="-1" class="btn btn-outline-secondary" type="submit">Submit</button>
                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<p>

</p>

<form id="search" name="search" class="bs-example bs-example-form" action="" role="form" method="get" target="_blank">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="input-group">
                    <input id="searchparameter" type="text" class="form-control" placeholder="Enter Reminder" name="q" type="text" maxlength="255" value="" />
                    <div class="input-group-btn">
                        <button tabindex="-1" class="btn btn-outline-secondary" type="submit">Submit</button>
                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<p>

</p>

<form id="search" name="search" class="bs-example bs-example-form" action="" role="form" method="get" target="_blank">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="input-group">
                    <input id="searchparameter" type="text" class="form-control" placeholder="Enter Reminder" name="q" type="text" maxlength="255" value="" />
                    <div class="input-group-btn">
                        <button tabindex="-1" class="btn btn-outline-secondary" type="submit">Submit</button>
                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<p>

</p>

<form id="search" name="search" class="bs-example bs-example-form" action="" role="form" method="get" target="_blank">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="input-group">
                    <input id="searchparameter" type="text" class="form-control" placeholder="Enter Reminder" name="q" type="text" maxlength="255" value="" />
                    <div class="input-group-btn">
                        <button tabindex="-1" class="btn btn-outline-secondary" type="submit">Submit</button>
                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<p>

</p>

<form id="search" name="search" class="bs-example bs-example-form" action="" role="form" method="get" target="_blank">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
                <div class="input-group">
                    <input id="searchparameter" type="text" class="form-control" placeholder="Enter Reminder" name="q" type="text" maxlength="255" value="" />
                    <div class="input-group-btn">
                        <button tabindex="-1" class="btn btn-outline-secondary" type="submit">Submit</button>
                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>